.Game {
    text-align: center;
  }

.Game-page {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Game-link {
  color: #2EDDCB;
}

.row {
  width: 90%;
}

.col-left {
  float: left;
  width: 50%;
}

.col-right {
  margin-left: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  display: block;
  max-height: 250px;
}

img {
  height: 40vmin;
  max-height: 230px;
  pointer-events: none;
}