.Game {
    text-align: center;
  }

.Game-page {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Game-link {
  color: #2EDDCB;
}

.row {
  width: 90%;
  margin-top: 50px;
}

.col-left {
  float: left;
  width: 50%;
}

.col-right {
  margin-left: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-left {
    width: 100%;
    text-align: center;
  }
  .col-right {
    margin-left: 0;
    text-align: center;
  }
  .title {
    margin-top: 80px !important;
  }
}

.logo {
  margin-top: 50px;
  display: block;
  max-height: 250px;
}

img {
  height: 40vmin;
  max-height: 230px;
  pointer-events: none;
}

.title {
  margin-top: 50px;
}

.round {
  margin-bottom: 0px;
}

.scorekeeper {
  margin-top: 5px;
  border-radius: 3px;
  height: 100px;
  min-width: 300px;
  width: 800px;
}

.score {
  margin-left: 5%;
  margin-right: 5%;
  height: 90%;
  text-align: center;
}