.Home {
    text-align: center;
  }
  
  .Home-logo {
    width: 60%;
    min-width: 200px;
    pointer-events: none;
  }
  
  .Home-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Home-link {
    color: #61dafb;
  }

 .TitleImg {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 300px;
    height: 100%;
    cursor: pointer;
  }

 .TitleImg > svg {
    width: 90%;
    margin: 0 auto;
    max-height: 300px;
    max-width: 800pt;
  }

  path {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .intro {
    padding-left: 20%;
    padding-right: 20%;
  }