.card {
    background-color: whitesmoke;
    border-radius: 5px;
    width: 80%;
    height: 80%;
    max-width: 350px;
    min-height: 250px;
    margin: auto;
    display: block;
    color: #292C34;
    text-align: center;
}

.card-value {
    padding: 10%;
}

button {
    margin: 5%;
}
